.content {
    padding: 2rem;
}

@media(min-width: 1199.99px) {
    .content {
        padding: 5rem 15rem;
    }
}

.content > mat-card {
    margin-bottom: 16px;
}

.filter-section, .add-hero-section {
    margin-bottom: 2rem;
}

.pagination::ng-deep .ngx-pagination .current {
    background: #3F51B5;
}